* {
  all:unset;
}
head, script {
  display:none;
}
#editor {
  background-color:lightgrey;
  color:black;
  font-family:monospace;
  height:100px;
  position:absolute;
  white-space:pre;
  width:200px;
  z-index:1;
}
html, body, #result {
  position:absolute;
  height:100%;
  width:100%;
}